/* 
    Document   : main
    Created on : 17 Jun, 2013, 2:53:51 PM
    Author     : montekr9
    Description:
        Purpose of the stylesheet follows.
*/
body { 
    background-color: rgb(185, 125, 125);
}

.tbclass{
    font-size: 21px;
}
